aside {
  background-color: #fff;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  height: 100vh;
  left: -330px; /* defautl chiusa */
  padding: 80px 1rem 1rem; /* Aumentato il padding-top per fare spazio al pulsante */
  position: fixed;
  top: 0;
  transition: left 0.3s ease-in-out;
  width: 330px;
  z-index: 1000;
}
aside.open {
  left: 0;
}
.nav-item {
  display: flex;
  flex-direction: column;
}

.button1 {
  top: 20px;
  left: 20px;
  z-index: 1001;
  background-color: #999;
  border: none;
  font-size: 24px;
  cursor: pointer;
  display: block;
  position: fixed;
  transition: transform 0.3s ease;
}
.button1:hover {
  color: #000;
  transform: scale(1.4);
}

.sidebar-filter-controls {
  display: flex;
  flex-direction: column; /* Impila i bottoni verticalmente, ideale per le sidebar */
  gap: 10px; /* Spazio tra i bottoni */
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 0 10px; /* Aggiunge un po' di padding laterale se necessario */
}

.sidebar-filter-button {
  background-color: #999; /* Un blu primario comune */
  color: #000;
  border: 1px solid #000;
  padding: 12px 15px; /* Aumentato il padding per un aspetto più "cliccabile" */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: 500; /* Un peso di font medio */
  cursor: pointer;
  border-radius: 5px; /* Angoli arrotondati */
  /*transition: background-color 0.2s ease-in-out, transform 0.1s ease;*/
  width: 100%; /* Fa sì che i bottoni occupino tutta la larghezza del contenitore */
  box-sizing: border-box; /* Include padding e bordo nella larghezza/altezza totale */
}

.sidebar-filter-button:hover {
  background-color: #7eb0c8; /* Blu più scuro al passaggio del mouse */
  color: #fff;
}

.sidebar-filter-button:active {
  transform: scale(0.98); /* Leggero effetto "pressione" al click */
}
.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999; /* meno di .button1 (1001) e aside (1000) va bene */
}
